@page "/about"
@inject AboutPageViewModel ViewModel

<MudContainer Class="mt-6" MaxWidth="MaxWidth.ExtraLarge">
    <MudText Typo="Typo.h3" Style="font-family: Roboto Slab">About me</MudText>
    <MudText Class="mt-4" Typo="Typo.h5">躺尸中，以至于现在什么都没写！∠( ᐛ 」∠ )＿</MudText>
    <MudText Class="mt-2" Typo="Typo.h5">Stay tuned!</MudText>

    <MudDivider Class="my-8"></MudDivider>

    <MudText Typo="Typo.h3" Style="font-family: Roboto Slab">About the website</MudText>
    <div class="mt-4 d-flex flex-row align-end">
        <MudText Typo="Typo.h5">A JS-free-ooland powered by the almighty</MudText>
        <MudLink Class="ml-2" Typo="Typo.h5"
                 Href="https://blazor.net">
            <b>Blazor</b>
        </MudLink>
        <MudIcon Icon="@CustomIcons.Blazor" Size="Size.Large" Color="Color.Secondary"></MudIcon>
    </div>
    <MudText Typo="Typo.caption" Color="Color.Tertiary">
        Well, not exactly JS-free, since it still uses some JS-based libraries. But hey, at least I don't need to write JS by myself, sweet!
    </MudText>

    <MudText Class="mt-6 mb-4" Typo="Typo.h4">Dependencies</MudText>
    <MudGrid >
        <MudItem xs="12" md="6" lg="3" xl="2">
            <MudCard Elevation="2" Style="height: 96px">
                <MudCardHeader>
                    <CardHeaderAvatar>
                        <MudAvatar Size="Size.Large" Rounded="true" Color="Color.Transparent"
                                   Image="https://github.com/Garderoben/MudBlazor/raw/master/content/logo.png">
                        </MudAvatar>
                    </CardHeaderAvatar>
                    <CardHeaderContent>
                        <MudLink Typo="Typo.body1" Color="Color.Secondary" Href="https://github.com/Garderoben/MudBlazor">
                            <b>MudBlazor</b>
                        </MudLink>
                        <MudText Typo="Typo.body2">For Material Design components.</MudText>
                    </CardHeaderContent>
                </MudCardHeader>
            </MudCard>
        </MudItem>

        <MudItem xs="12" md="6" lg="3" xl="2">
            <MudCard Elevation="2" Style="height: 96px">
                <MudCardHeader>
                    <CardHeaderAvatar>
                        <MudAvatar Size="Size.Large" Rounded="true" Color="Color.Transparent"
                                   Image="https://github.com/xoofx/markdig/raw/master/img/markdig.png">
                        </MudAvatar>
                    </CardHeaderAvatar>
                    <CardHeaderContent>
                        <MudLink Typo="Typo.body1" Color="Color.Secondary" Href="https://github.com/Garderoben/MudBlazor">
                            <b>Markdig</b>
                        </MudLink>
                        <MudText Typo="Typo.body2">For Markdown parsing and rendering.</MudText>
                    </CardHeaderContent>
                </MudCardHeader>
            </MudCard>
        </MudItem>

        <MudItem xs="12" md="6" lg="3" xl="2">
            <MudCard Elevation="2" Style="height: 96px">
                <MudCardHeader>
                    <CardHeaderAvatar>
                        <MathBlock Inline="true" MathText="\Large\KaTeX"></MathBlock>
                    </CardHeaderAvatar>
                    <CardHeaderContent>
                        <MudLink Typo="Typo.body1" Color="Color.Secondary" Href="https://github.com/KaTeX/KaTeX">
                            <b>KaTex</b>
                        </MudLink>
                        <MudText Typo="Typo.body2">For mathematical notations rendering.</MudText>
                    </CardHeaderContent>
                </MudCardHeader>
            </MudCard>
        </MudItem>

        <MudItem xs="12" md="6" lg="3" xl="2">
            <MudCard Elevation="2" Style="height: 96px">
                <MudCardHeader>
                    <CardHeaderAvatar>
                        <MudAvatar Size="Size.Large" Rounded="true" Color="Color.Transparent"
                                   Image="https://avatars.githubusercontent.com/u/11140484?s=200&v=4">
                        </MudAvatar>
                    </CardHeaderAvatar>
                    <CardHeaderContent>
                        <MudLink Typo="Typo.body1" Color="Color.Secondary" Href="https://github.com/PrismJS/prism">
                            <b>Prism</b>
                        </MudLink>
                        <MudText Typo="Typo.body2">For code block syntax highlighting.</MudText>
                    </CardHeaderContent>
                </MudCardHeader>
            </MudCard>
        </MudItem>
    </MudGrid>

</MudContainer>
<Footer/>

@code
{
    protected override void OnInitialized()
    {
    }
}