<MudDivider Class="mx-6 my-8"/>

<div class="px-6 mb-8 d-flex flex-wrap justify-center align-center">
    <MudText Typo="Typo.body2">Powered by</MudText>
    <MudLink Class="ml-1" Typo="Typo.body2" Color="Color.Primary" Href="https://blazor.net">Blazor WebAssmbly</MudLink>
    <MudIcon Class="ml-1" Style="height: 20px; width: 20px;" Icon="@CustomIcons.Blazor" Color="Color.Primary"/>

    <MudText Class="ml-2" Typo="Typo.body2">Copyright © 2020-@Year Goose Bomb</MudText>
    <MudIcon Class="ml-1" Style="height: 14px; width: 14px;" Icon="@CustomIcons.PawWithClaws"/>
</div>

@code
{
    private int Year => DateTime.Today.Year;
}
