<style>
    .blur-behind-header {
        position: absolute;
        top: 0px;
        height: 2.5rem;
        width: 100%;
        background-color: rgba(255, 255, 255, 0.36);
        backdrop-filter: blur(4px);
        -webkit-backdrop-filter: blur(4px);
    }
</style>

<div class="d-flex pa-0 rounded"
     style="position:relative;
            overflow: hidden;
            height: fit-content;
            width: fit-content;">

    <img src="@Source"
         alt="@Caption"
         style="position: center;
                max-height: 96vh;
                max-width: 96vw;
                object-fit: contain;
                object-position: center" />

    <div class="d-flex flex-row align-center blur-behind-header">
        <MudText Class="ml-2 mr-auto">
            @Caption
        </MudText>
        <MudIconButton Class="mr-2"
                       Icon="@Icons.Material.Filled.Close"
                       Size="Size.Small"
                       OnClick="OnClose" />
    </div>
</div>

@code {
    [CascadingParameter]
    MudDialogInstance MudDialog { get; set; }

    [Parameter]
    public string? Source { get; set; }

    [Parameter]
    public string? Caption { get; set; }

    [Parameter]
    public string? Description { get; set; }

    void OnClose() => MudDialog.Close(DialogResult.Ok(true));
}
